body{
  background-color:#030000;
  color: #1a16ff;
  text-align: center;
  background-image: url(klk2.jpg);
}

.illumination{
  display: inline-block;
}
.illumination img:hover{
  opacity:.10;
}
