body{
  background-color:#030000;
  color: #1a16ff;
  text-align: center;
  background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(klk2.jpg);
}

.illumination{
  display: inline-block;
}
.illumination img:hover{
  opacity:.10;
}
