body{
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(klk2.jpg);
  text-align: center;
  color: #a80d0d;
}

.hightlight{
  display: inline-block;
}
.highlight img:hover{
  opacity: .6;
}
